---
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/Card.astro";
import { generateFakePosts } from "../../lib/fakeData";

const posts = generateFakePosts(6);
---

<Layout>
  <main class="container px-4 py-8 mx-auto max-w-7xl">
    <header class="mb-12 text-center">
      <h1 class="text-4xl font-bold text-gray-800 mb-2">Blog Posts</h1>
      <p class="text-lg text-gray-600">Flexbox layout example</p>
    </header>

    <section class="w-full flex flex-wrap justify-center gap-6">
      {
        posts.map((post) => (
          <div class="w-full md:w-[calc(50%-12px)] lg:w-[calc(33.333%-16px)]">
            <PostCard
              title={post.title}
              date={post.date}
              excerpt={post.excerpt}
              slug={post.slug}
              image={post.image}
              author={post.author.name}
              category={post.category}
            />
          </div>
        ))
      }
    </section>
  </main>
</Layout>
