---
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/Card.astro";
import { generateFakePosts } from "../../lib/fakeData";

const posts = generateFakePosts(6);
---

<Layout>
  <main class="container p-8 mx-auto">
    <h1>Blog Posts</h1>

    <section class="w-full -mx-4 flex flex-row flex-wrap">
      {
        posts.map((post) => (
          <div class="md:basis-1/3 p-4">
            <PostCard
              title={post.title}
              date={post.date}
              excerpt={post.excerpt}
              slug={post.slug}
              image={post.image}
              author={post.author}
              category={post.category}
            />
          </div>
        ))
      }
    </section>
  </main>
</Layout>
