---
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/Card.astro";
import { generateFakePosts } from "../../lib/fakeData";

const posts = generateFakePosts(5);
---

<Layout>
  <main class="container p-4 mx-auto">
    <h1>Blog Posts</h1>
    <section
      class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8"
    >
      {
        posts.map((post) => (
          <PostCard
            title={post.title}
            date={post.date}
            excerpt={post.excerpt}
            slug={post.slug}
            image={post.image}
            author={post.author}
            category={post.category}
          />
        ))
      }
    </section>
  </main>
</Layout>
