---
import "../styles/global.css";

interface Props {
  title: string;
  date: string;
  excerpt: string;
  slug: string;
  image?: string;
  author?: string;
  category?: {
    name: string;
    slug?: string;
  };
}

const { title, date, excerpt, slug, image, author, category } = Astro.props;
---

<article>
  {image && <img src={image} alt={title} width="600" height="400" />}

  {category && <span>{category.name}</span>}

  <h2>
    <a href={`/blog/${slug}`}>{title}</a>
  </h2>

  <div>
    <time datetime={date}>{new Date(date).toLocaleDateString()}</time>
    {author && <span> by {author}</span>}
  </div>

  <div set:html={excerpt} />

  <a href={`/blog/${slug}`}>Read more</a>
</article>
