---
import "../styles/global.css";

interface Props {
  title: string;
  date: string;
  excerpt: string;
  slug: string;
  image?: string;
  author?: string;
  category?: {
    name: string;
    slug?: string;
  };
}

const { title, date, excerpt, slug, image, author, category } = Astro.props;
---

<article class="card">
  {image && <img src={image} alt={title} class="card-image" />}

  <div class="card-content">
    {category && <span class="card-content-category">{category.name}</span>}

    <h2 class="card-content-title">
      <a href={`/blog/${slug}`}>{title}</a>
    </h2>
    <div class="card-content-excerpt" set:html={excerpt} />
    <div></div>
    <a href={`/blosg/${slug}`} class="card-content-button">Read more</a>
  </div>

  <div class="card-footer">
    <time datetime={date} class="card-footer-item card-footer-left"
      >{new Date(date).toLocaleDateString()}</time
    >
    <div class="card-footer-item card-footer-middle">
      {author && <span> by {author}</span>}
    </div>
    <div class="card-footer-item card-footer-right">
      Comment &&{(<span> 13</span>)}
    </div>
  </div>
</article>

<style>
  @reference "tailwindcss";

  .card {
    @apply rounded-md shadow-2xl overflow-hidden;
  }
  .card-image {
    @apply w-full aspect-video object-cover;
  }
  .card-content {
    @apply flex flex-col md:flex-col p-8 gap-y-4;
  }
  .card-content-category {
    @apply text-center text-orange-500 text-sm font-bold uppercase;
  }
  .card-content-title {
    @apply text-center text-3xl font-bold;
  }
  .card-content-excerpt {
    @apply text-center text-gray-500;
  }
  .card-content-button {
    @apply mx-auto text-center p-8 border-1 border-gray-500 rounded-md;
  }
  .card-footer {
    @apply grid grid-cols-1 md:grid-cols-3 bg-orange-500;
  }
  .card-footer-item {
    @apply px-4 py-8 text-center text-white;
  }
  .card-footer-left {
    @apply border-b-1 md:border-b-0 border-b-orange-700 md:border-r-1 md:border-r-orange-700;
  }
  /* .card-footer-middle {
    @apply;
  } */
  .card-footer-right {
    @apply border-t-1 md:border-t-0 border-t-orange-700 md:border-l-1 md:border-l-orange-700;
  }
</style>
